@use '../../../../assets/styles/variables.scss' as var;
@use '../../../../assets/styles/mixin.scss' as mix;

.sondageContainer {
  .inputQuestion {
    width: 50%;
    max-width: 400px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.05));
  }
  .input {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.05));
  }
  .propositionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .inputContainerProposition {
      display: flex;
      gap: 10px;
      max-width: 400px;
      img {
        cursor: pointer;
      }
    }
  }

  .addProposition {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    margin-top: 20px;

    color: var.$color-secondary;

    transition: 0.3s;
  }
  .disabledProp {
    filter: grayscale(1);
  }
}

// RESPONSIVE MOBILE
.propositionContainerResponsive {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.inputContainerPropositionResponsive {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.inputQuestionResponsive {
  width: 75vw;
  display: block;
  margin: -10px 0 20px 0;
  max-width: 400px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.05));
}
