@import '../../styles/variables.scss';

.inputContainer{
    width: 100%;

    input{  
        background-color: $color-white;
        border-radius: 7px;
        font-size: 14px;
        border: none;
        padding: 15px 0 15px 30px;
        width: -webkit-fill-available;
        width: -moz-available;
        filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.05));
    
        &::placeholder{
            color: $color-black;
        }
    }

    .eye {
        position: absolute;
        transform: translate(-30px, 50%);
        background: none;
        border: none;
        padding: 0;
        color: $color-black;
        cursor: pointer;
    }
}