.topnav-broadcaster {
    padding: 40px;
}

.number-spec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.spectatorCount {
    font-size: 18px;
    font-weight: 600;
}