@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.topbar-broadcaster {
    display: flex;
    justify-content: space-between;
}

.number-spec {
    display: flex;
    align-items: flex-start;
}