.diapo-list {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
}

.diapoCover {
  margin: 0 3vw 3vh 0;
  position: relative;
}

.diapoCover-img {
  width: 30vw;
  height: 35vh;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.cross-delete {
  position: absolute;
  top: -25px;
  left: -25px;
  margin: 0 0 0 0;
  padding: 0;
}
