@import '../variables.scss';

.container_auth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-content{
    background-color: $color-tertiary;
    padding: 50px 120px;
    border-radius: 20px;
    h2{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
    }

    .already-registered{
        display: flex;
        align-items: center;
        p{
            color: $color-primary;
        }

        a{
            color: $color-secondary;
            margin-left: 5px;
        }
    }
}