@import '../variables.scss';

.container_auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    .login {
        display: flex;
        justify-content: center;
        column-gap: 50px;
    }

    .auth-content {
        background-color: $color-tertiary;
        border-radius: 20px;
        padding: 50px 10vw;
        
        h2 {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
        }

        .already-registered {
            display: flex;
            align-items: center;
            p{
                color: $color-primary;
            }

            a{
                color: $color-secondary;
                margin-left: 5px;
            }
        }
    }

    .register-form {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
}