@import '../variables.scss';
@import '../mixin.scss';

.container_auth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .auth-content {
        background-color: $color-tertiary;
        border-radius: 20px;
        min-width: 20vw;
        padding: 50px 10vw;
        
        h2 {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .already-registered {
            display: flex;
            justify-content: center;
            align-items: center;   
            p{
                color: $color-black;
                
            }

            a{
                color: $color-primary;
                margin-left: 5px;
            }
        }

        .signup{
            margin-top: 15px; 
        }
    }

    .register-form {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 100%;
    }
    .login-form{
        display: flex;
        flex-direction: column;
        .input-content{
            display: flex;
            column-gap: 2vh;
            width: 100%;
            margin-bottom: 30px;
            @include mobile{
                flex-direction: column;
                .inputContainer{
                    margin: 10px 0;
                }
            }
        }

        .submit{
            display: flex;  
            @include mobile(){
                flex-direction: column;
            }
            .already-registered{
                margin-left: 20px;
                @include mobile(){
                    flex-direction: column;
                }
            }

            .signin{
                @include mobile(){
                    margin: 20px 0;
                    a{
                        margin: 5px 0;
                    }
                }
            }
        }
    }

    .login{
        width: 50vw;
    }
}