// Color 
$color-primary : #F3A953;
$color-secondary: #3F53D9;
$color-tertiary: #F2F3F3;
$color-white: #FFFFFF;
$color-black: #000000;
$color-danger: #B33030;

// Color Hover
$hover-primary : #FF9C1F;
$hover-secondary: #2239D7;
$hover-tertiary: #F2F3F3;
$hover-white: #FFFFFF;
$hover-black: #000000;
$hover-danger: #E24141;


// Color Focus
$focus-primary: rgba(243, 169, 83, 0.5);
$focus-secondary: rgba(63, 83, 217, 0.5);
$focus-danger: rgba(179, 48, 48, 0.5);