// Color
$color-primary: #f3a953;
$color-secondary: #3f53d9;
$color-tertiary: #f2f3f3;
$color-white: #ffffff;
$color-black: #000000;
$color-danger: #b33030;

// Color Hover
$hover-primary: rgba(243, 169, 83, 0.8);
$hover-secondary: #3f53d9;
$hover-tertiary: #f2f3f3;
$hover-white: #ffffff;
$hover-black: #000000;
$hover-danger: #b33030;
