// Color 
$color-primary : #F3A953;
$color-secondary: #3F53D9;
$color-tertiary: #F2F3F3;
$color-white: #FFFFFF;
$color-black: #000000;
$color-danger: #B33030;

// Color Hover
$hover-primary : rgba(243, 169, 83, 0.8);
$hover-secondary: #3F53D9;
$hover-tertiary: #F2F3F3;
$hover-white: #FFFFFF;
$hover-black: #000000;
$hover-danger: #B33030;
