@import '../../../../assets/styles/variables.scss';

.dld-pdf {
  margin-top: 7vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 25%);
  padding: 4.58vh 20px;
}

.dld-pdf::nth-first-child {
  margin-top: -2.5vh;
}

.dld-pdf-img {
  margin-left: 2vw;
}

.dld-pdf-btn {
  display: flex;
  margin-top: 2.5vh;
}
