.feature-card {
    padding: 10px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.feature-icon-broadcast {
    opacity: 0.2;
}