.vector{
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: -10;
    animation: vector 30s infinite;
}

@keyframes vector {
    from{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-400px, 20px) rotate(40deg);
    }
    to{
        transform: translate(0, 0);
    }
}