@use '/src/styles/variable.scss' as var;
@use '/src/styles/mixin.scss' as mix;

.sectionSolution {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-bottom: 300px;

  @include mix.mobile {
    flex-direction: column-reverse;

    padding-top: 50px;
    padding-bottom: 100px;
  }

  .imgContainer {
    position: relative;

    .hexa {
      position: absolute;
      right: -30%;
      z-index: 1;
      width: 40vw;
      svg {
        width: 100%;
        @include mix.mobile {
          display: none;
        }
      }
    }

    .imgContainerPhoneDesktop {
      position: relative;
      min-width: 40vw;
      margin-right: 20%;
    }

    .desktopImg {
      position: relative;
      z-index: 5;
      width: 120%;
    }
    .phoneImg {
      position: absolute;
      z-index: 8;
      width: calc(40% - 50px);
      right: -20%;
    }
  }

  .textContainer {
    position: relative;
    z-index: 20;
    margin-left: 15%;
    @include mix.mobile {
      margin-left: 0px;
    }

    .title {
      font-family: 'Raleway', sans-serif;
      font-size: 30px;
      margin-bottom: 40px;
    }
    p {
      width: 70%;

      @include mix.mobile {
        width: 100%;
      }
    }
  }
}
