@use '../../../../assets/styles/variables.scss' as var;
@use '../../../../assets/styles/mixin.scss' as mix;

.containerModify {
  position: relative;
  padding: 40px 30px 20px 5%;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;

  background-color: var.$color-tertiary;
  border-radius: 10px;
  height: auto;

  h5 {
    font-weight: 500;
    margin-bottom: 30px;
  }
  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 15px;
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    margin-top: 20px;

    .btnSave {
      color: white;
      background-color: var.$color-secondary;
      padding: 10px 25px;
      border-radius: 7px;
      font-size: 18px;
    }
    .btnDelete {
      color: var.$color-danger;
      border: 1px solid var.$color-danger;
      padding: 10px 25px;
      border-radius: 7px;
      font-size: 18px;
    }
  }
}

// RESPONSIVE MOBILE

.btnContainerResponsive {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  margin-top: 20px;

  .btnSaveResponsive {
    color: white;
    background-color: var.$color-secondary;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 16px;
  }
  .btnDeleteResponsive {
    color: var.$color-danger;
    border: 1px solid var.$color-danger;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 16px;
  }
}
