@import '../../../assets/styles/variables.scss';

.button{
    
    border-radius: 7px;
    padding: 10px 30px;
    border: none;
    color: $color-white;
    font-size: 18px;
    cursor: pointer;
}


// Button
.btn-primary{
    background-color: $color-primary; 
    border: 3px solid $color-primary;

    &:hover{
        background-color: $hover-primary;
        border: 3px solid $hover-primary;
    }

    &:focus{
        border-color: $focus-primary;
    }
}

.btn-secondary{
    background-color: $color-secondary; 
    border: 3px solid $color-secondary;
    
    &:hover{
        background-color: $hover-secondary;
        border: 3px solid $hover-secondary;

    }

    &:focus{
        border-color: $focus-secondary;
    }

}

.btn-danger{
    background-color: $color-danger;
    border: 3px solid $color-secondary;
    
    &:hover{
        background-color: $hover-danger;
        border: 3px solid $hover-danger;

    }

    &:focus{
        border-color: $focus-danger;
    }
}


//Button small
.btn-primary-sm{
    background-color: $color-primary; 
    padding: 5px 25px;
}

.btn-secondary-sm{
    background-color: $color-secondary; 
    padding: 5px 25px;
}

.btn-danger-sm{
    background-color: $color-danger;
    padding: 5px 25px;
}


// Button Outline
.btn-primary-outline{
    background-color: $color-white;
    border: 1px solid $color-primary;
    color: $color-primary;
}

.btn-secondary-outline{
    background-color: transparent;
    border: 1px solid $color-secondary;
    color: $color-secondary;

}

.btn-danger-outline{
    background-color: $color-white;
    border: 1px solid $color-danger;
    color: $color-danger;
}


// Button small outline
.btn-primary-sm-outline{
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary; 
    padding: 5px 25px;
}

.btn-secondary-sm-outline{
    background-color: transparent;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    padding: 5px 25px;
}

.btn-danger-sm-outline{
    background-color: transparent;
    border: 1px solid $color-danger;
    color: $color-danger;
    padding: 5px 25px;
}