@use '../../../../assets/styles/variables.scss' as var;
@use '../../../../assets/styles/mixin.scss' as mix;

.responsePercents {
  position: absolute;
  z-index: 15;
  bottom: 0;
  left: calc(50% - 425px);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  gap: 20px;

  background-color: var.$color-tertiary;

  padding: 100px 110px;
  transition: 0.3s;

  .title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}

.progressContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .name,
  .percent {
    color: black;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 25px;
  }
  .barContainer {
    position: relative;
    width: 450px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    div {
      position: absolute;
      height: 100%;
      background-color: var.$color-secondary;
      transition: 0.1s ease-in-out;
    }
  }
}
