@use '../../../../assets/styles/variables.scss' as var;
@use '../../../../assets/styles/mixin.scss' as mix;

.containerDiapoPres {
  position: relative;
  background-color: white;

  .iconFullScreen {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 35px;
    z-index: 11;
    img {
      width: 100%;
    }
  }
}
