// Color
$color-primary: #f3a953;
$color-secondary: #3f53d9;
$color-tertiary: #f2f3f3;
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #222222;
$color-danger: #b33030;
$color-success: #58bf28;

// Color Hover
$hover-primary: #ff9c1f;
$hover-secondary: #2239d7;
$hover-tertiary: #f2f3f3;
$hover-white: #ffffff;
$hover-black: #000000;
$hover-danger: #e24141;

// Color Focus
$focus-primary: rgb(252 229 203 / 50%);
$focus-secondary: rgb(171 182 255 / 50%);
$focus-danger: rgb(255 189 189 / 50%);
