// Color 
$color-primary : #F3A953;
$color-secondary: #3F53D9;
$color-tertiary: #F2F3F3;
$color-white: #FFFFFF;
$color-black: #000000;
$color-danger: #B33030;

// Color Hover
$hover-primary : #FF9C1F;
$hover-secondary: #2239D7;
$hover-tertiary: #F2F3F3;
$hover-white: #FFFFFF;
$hover-black: #000000;
$hover-danger: #E24141;


// Color Focus
$focus-primary: rgb(252 229 203 / 50%);
$focus-secondary: rgb(171 182 255 / 50%);
$focus-danger: rgb(255 189 189 / 50%);