@import '../../../assets/styles/variables.scss';

.importpdfContainer-background{
  background-color: white;
}

.importpdfContainer {
  height: 40vh;
  margin: 70px 100px 0 100px;
  background-color: $color-tertiary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.importpdfContainer-title {
  margin-left: 5vw;
}

.importpdfContainer-subtitle {
  font-size: 14px;
  margin: 20px 5vw 5px 5vw;
  color: $color-danger;
}

.importpdfContainer-form {
  margin-left: 5vw;
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    flex-direction: start;
  }

  p {
    margin-top: 1.5vh;
  }

  .importpdfContainer-status {
    font-size: 18px;
    font-weight: 500;
    color: green;
  }

  .importpdfContainer-status-failed {
    font-size: 18px;
    font-weight: 500;
    color: #B33030;
  }
}

input[type='file'] {
  display: none;
}

.button-label {
  border-radius: 7px;
  padding: 10px 30px;
  border: none;
  color: $color-white;
  font-size: 18px;
  cursor: pointer;
  margin-right: 3vw;
}

.btn-secondary-label {
  background-color: $color-secondary;
  border: 2px solid $color-secondary;

  &:hover {
    background-color: $hover-secondary;
    border: 2px solid $hover-secondary;
  }

  &:focus {
    border-color: $focus-secondary;
  }
}

.btn-secondary-outline:hover {
  background-color: #2239D7;
  color: whitesmoke;
}

// RESPONSIVE MOBILE

.importpdfContainerMobile{
  background-color: $color-tertiary;

  h5{
    font-weight: 500;
  }
}

.button-sm-label {
  border-radius: 7px;
  padding: 7px 25px;
  border: none;
  color: $color-white;
  font-size: 15px;
  cursor: pointer;
  margin-right: 3vw;
}

.font-sm{
  font-size: 15px;
}